.sobundBbutton {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 30px;
	font-family:Arial;
    background-color: rgb(255, 153, 0);
}
.playerButtonStop{
    width: 40px;
    height: 40px;
    margin-right: 3px;
    border-radius: 5px;
    background-color: rgb(221, 19, 19);
}
.playerButtonStart{
    width: 40px;
    height: 40px;
    margin-right: 3px;
    border-radius: 5px;
    background-color: greenyellow;
}


.playerCheckBox{
    margin-top: 15px;
}
.trackDiv{
    display: flex;
    justify-content: center;
}
#soundbar_top{
    margin-top: 100px;
}
#soundbar_top, #soundbar_bottom{
    display: flex;
    justify-content: center;
}
